body {
  margin: 0;
  padding: 0;
  font-family: Arial,Helvetica,sans-serif;
  background: url(bg-body.gif) repeat left top;
  font-size: 80%;
  color: #666;
}

h1 {
  margin: 0 0 3px 0;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #333;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.rounded {
  border: 1px solid #e4e4e3;
  border-radius: 8px;
}

.menu .rounded:hover {
  border-color: #85a041;
  font-weight: bold;
}



.serif {
  font-family: Georgia, serif;
}

.content {
  background-color: #fff;
  width: 990px;
  margin: 0 auto;
  position: relative;
}

#list {
  padding: 10px 10px 15px 10px;
  
}

.inner {
  background-color: #f8f7f3;
  clear: both;
}

#good-stuff {
  background-color: #fff;
  border: 1px solid #c2c2c2;
  border-left: none;
  -webkit-border-radius: 0 8px 8px 0;
  border-radius: 0 8px 8px 0;
  float: left;
  padding: 5px 9px;
  margin-top: -4px;
  width: 794px;
}

.main {
  vertical-align: top;
}

#menu {
  background: url(grey-diagonal-pattern.gif);
  border-bottom: 1px solid #dedddb;
  width: 762px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
}

#categories {
  min-height: 50px;
}

.breadcrumb {
  background-color: #f3f4eb;
  border-top: 1px solid #dedddb;
  padding: 3px 10px;
  display: none;
}

.delete,
.category,
.brand,
.star,
.trait,
.weight {
  cursor: pointer;
  margin: 3px 0;
}

.container {
  position: relative;
  min-height: 50px;
  margin-top: 30px;
}

.container.active {
  background: #fff;
}

.ui-slider-horizontal {
  position: absolute;
  width: 350px;
  height: 10px;
  background-image: -webkit-linear-gradient(#accf55, #85a041);
}

.ui-slider-handle {
  position: absolute;
  z-index: 2;
  height: 47px;
  width: 15px;
  background: url(spritey-bits.png) no-repeat left -84px;
  margin-top: -28px;
  font-weight: bold;
}

#control-panel {
  background-image: -webkit-linear-gradient(left, #f5eedc, #fcf9f3, #f5eedc);
  padding: 5px 0;
  width: 138px;
  float: left;
  margin-right: 20px;
  border-color: transparent;
  text-align: center;
}

#counter {
  color: #7e1f3f;
  font-size: 3em;
  text-align: center;
}

#controls {
  margin:5px 0 5px 21px;
}

#go-button {
  display: inline-block;
  background-image: -webkit-linear-gradient(#7f102c, #6a0d25);
  color: #fff;
  padding: 3px 8px;
  font-weight: bold;
  float: left;
}

.arrow {
  background: url(spritey-bits.png) no-repeat right -10px;
  padding-right: 16px;
}

.clear-link {
  font-size: .8em;
  text-align: center;
  display: block;
  float: left;
  height: 13px;
  margin-top: 6px;
  margin-left: 3px;
}

.text-hide {
  text-indent: -9999px;
}

/* stroller menu items */
.category {
  float: left;
  background: #fff url(module-sprites.png) no-repeat;
  padding: 60px 5px 5px 5px;
  text-align: center;
  position: relative;
  z-index: 1;
  margin: 0 10px 0 0;
  width: 75px;
  position: relative;
}

.category span {
  position: absolute;
  top: 69px;
  width: 76px;
}

/* sprite positioning for stroller images */
.Car.Seat {
  background-position: 22px 10px;
}

.Double {
  background-position: -75px 10px;
}

.Jogging {
  background-position: -171px 10px;
}

.Full-Featured {
  background-position: -269px 10px;
}

.Umbrella {
  background-position: -368px 10px;
}

.All-Terrain {
  background-position: -464px 10px;
}

.category.active:after {
  border-radius: 12px;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  background: url(module-sprites.png) no-repeat;
}

.menu .category.active {
  background-position: 0 0;
  background-image: -webkit-linear-gradient(#accf55, #85a041);
  text-decoration: underline;
  font-weight: normal;
}

.menu .category.rounded:hover {
  text-decoration: underline;
  font-weight: normal;
}

/* active images for stroller sprites */
.Car.Seat.active:after {
  background-position: 22px -76px;
}

.Double.active:after {
  background-position: -75px -76px;
}

.Jogging.active:after {
  background-position: -171px -76px;
}

.Full-Featured.active:after {
  background-position: -269px -76px;
}

.Umbrella.active:after {
  background-position: -368px -76px;
}

.All-Terrain.active:after {
  background-position: -464px -76px;
}

#drop-downs {
  margin: 50px 0 0 0;
  clear: left;
  position: relative;
}

.drop-down {
  display: none;
}

.open {
  display: block;
}

.drop-down.open {
  position: absolute;
  left: 139px;
  z-index: 2;
  border-radius: 0 8px 8px 0;
  border: 1px solid #e4e4e3;
  background-color: #fff;
  padding: 12px;
  float: left;
  width: 578px;
}

.drop-down.open.bottom {
  margin-top: 60px;
}

.drop-down-title {
  background: #f6f6f6 url(module-sprites.png) no-repeat -682px -89px;
  cursor: pointer;
  width: 128px;
  padding: 4px 5px;
  font-weight: normal;
  border: 1px solid #e4e4e3;
  margin: 0;
  border-bottom: 0;
  padding: 15px 5px;
  font-size: 1.3em;
  float: left;
  clear: left;
}

.drop-down-title.open {
  background-position: -682px -2px;
  background-color: #fff;
}

.brandhead {
  border-radius: 8px 0 0 0;
}

.featureshead {
  border-radius: 0 0 0 8px;
  border-bottom: 1px solid #e4e4e3;
}

#trait-list,
#weights-list {
  width: 40%;
  padding-right: 20px;
  margin-right: 20px;
  float: left;
}

.close-button,
.close-button-breadcrumb {
  text-indent: -9999px;
  width: 20px;
  height: 14px;
  background: url(spritey-bits.png) no-repeat right -144px;
  float: right;
  cursor: pointer;
}

.close-button-breadcrumb {
  background: url(spritey-bits.png) no-repeat right -186px;
}

.listing {
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.breadcrumb-item {
  text-transform: capitalize;
  margin-left: 15px;
  float: left;
}

.breadcrumb-item.inactive {
  display: none;
}

.breadcrumb-item.active {
  display: inline;
}

.back-link {
  padding: 0 15px;
  background: url(spritey-bits.png) no-repeat 3px 4px;
  display: inline-block;
  float: left;
  height: auto;
  font-size: 1em;
  border-right: 1px dotted #d6d6d4;
  margin-top: 0;
}

.back-link.text-hide {
  text-indent: 0;
}

.middle {
  display: block;
  float: left;
  margin-right: 5px;
}

.selected.low {
  margin-right: 5px;
}

.slider {
  float: left;
  width: 75%;
  min-height: 30px;
}

.slider.price {
  width: 65%;
}

.note {
  font-size: .8em;
  float: left;
  display: block;
}

.selected {
  border: 2px solid #ccc;
  padding: 5px 10px;
  border-radius: 8px 0 0 8px;
  margin-top: -6px;
  float: left;
  font-size: 1.2em;
}

h1.top {
  border-bottom: 1px dotted #ccc;
  font-size: 1.5em;
  color: #000;
  margin-bottom: 10px;
  padding-bottom: 7px;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.brand,
.trait,
.weight {
  margin: 8px 0;
  position: relative;
  padding-left: 22px;
  z-index: 2;
}

.brand:after, 
.brand:before,
.trait:after,
.trait:before,
.weight:after,
.weight:before {
  content: '';
  width: 12px;
  height: 14px;
  display: block;
  float: left;
  margin-right: 5px;
  border-radius: 4px;
  border: 1px solid #333;
  color: #fff;
  font-size: 0.9em;
  padding-left: 2px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}

.brand.active:after,
.trait.active:after,
.weight:active:after {
  background: url(module-sprites.png) no-repeat -787px -172px;
}

.menu .active {
  font-weight: bold;
}

.menu .active.brand:before,
.menu .active.trait:before,
.menu .active.weight:before {
  background-image: -webkit-linear-gradient(#accf55, #85a041);
}

#weights-list em {
  font-size: .8em;
}