body {
  margin: 0;
  padding: 0;
  font-family: Arial,Helvetica,sans-serif;
  background: url(bg-body.gif) repeat left top;
  font-size: 80%;
  color: #666;
}

h1 {
  margin: 0 0 3px 0;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #333;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.rounded {
  border: 1px solid #e4e4e3;
  border-radius: 8px;
}

.menu .rounded.inactive:hover {
  background-color: #f3f4eb;
  background-image: none;
}

.menu .active {
  background-image: -webkit-linear-gradient(#accf55, #85a041);
  color: #fff;
}

.serif {
  font-family: Georgia, serif;
}

.content {
  background-color: #fff;
  width: 990px;
  margin: 0 auto;
  position: relative;
}

#list {
  padding: 10px 10px 15px 10px;
  
}

.inner {
  background-color: #f8f7f3;
  clear: both;
}

#good-stuff {
  background-color: #fff;
  border: 1px solid #c2c2c2;
  border-left: none;
  -webkit-border-radius: 0 8px 8px 0;
  border-radius: 0 8px 8px 0;
  float: left;
  padding: 5px 9px;
  margin-top: -4px;
  width: 794px;
}

.main {
  vertical-align: top;
}

#menu {
  background: url(grey-diagonal-pattern.gif);
  border-bottom: 1px solid #dedddb;
}

#categories {
  float: left;
  margin-right: 5px;
}

.breadcrumb {
  background-color: #f3f4eb;
  border-top: 1px solid #dedddb;
  padding: 3px 10px;
  display: none;
}

.delete,
.category,
.brand,
.star,
.trait,
.weight {
  cursor: pointer;
  margin: 3px 0;
}

.container {
  position: relative;
  min-height: 50px;
  margin-top: 30px;
}

.container.active {
  background: #fff;
}

.ui-slider-horizontal {
  position: absolute;
  width: 250px;
  height: 10px;
  background-image: -webkit-linear-gradient(#accf55, #85a041);
}

.ui-slider-handle {
  position: absolute;
  z-index: 2;
  height: 47px;
  width: 15px;
  background: url(spritey-bits.png) no-repeat left -84px;
  margin-top: -28px;
  font-weight: bold;
}

#control-panel {
  background-image: -webkit-linear-gradient(#f9f8f5, #f3f4eb);
  padding: 2px 13px;
  float: left;
  margin-right: 10px;
}

#counter {
  color: #7e1f3f;
  float: left;
  font-size: 2.5em;
  width: 40px;
  text-align: center;
}

#go-button {
  padding-bottom: 11px;
  float: left;
  background: transparent url(http://css.consumersearch.com/sites/all/themes/cs6/public/images/sprites2.png) right -455px no-repeat;
  padding-left: 13px;
  
}

.arrow {
  background: transparent url(http://css.consumersearch.com/sites/all/themes/cs6/public/images/sprites2.png) 0 -455px no-repeat;
  padding: 8px 0 0 14px;
  float: left;
  display: inline-block;
  color: #fff;
  height: 35px;
  margin-right: 14px;
  color: #333;
}

.clear-link {
  font-size: .8em;
  clear: left;
  text-align: center;
  display: block;
  height: 13px;
}

.text-hide {
  text-indent: -9999px;
}

/* stroller menu items */
.category {
  float: left;
  margin: 0 5px 0 0;
  font-size: .8em;
  background-image: -webkit-linear-gradient(#fff, #f9fbf5);
  width: 65px;
  padding: 35px 5px 5px 5px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.category:after {
  background: url(sprites-strollers.png) no-repeat;
  border-radius: 12px;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
}

/* sprite positioning for stroller images */
.Car.Seat:after {
  background-position: 27px -77px;
}

.Double:after {
  background-position: -35px -77px;
}

.Jogging:after {
  background-position: -108px -77px;
}

.Full-Featured:after {
  background-position: -177px -77px;
}

.Umbrella:after {
  background-position: -244px -77px;
}

.All-Terrain:after {
  background-position: -311px -77px;
}

.category.active:after {
  background: url(sprites-strollers.png) no-repeat;
}

.category.active {
  background-position: 0 0;
  background-image: -webkit-linear-gradient(#accf55, #85a041);
  color: #fff;
}

/* active images for stroller sprites */
.Car.Seat.active:after {
  background-position: 27px 5px;
}

.Double.active:after {
  background-position: -35px 5px;
}

.Jogging.active:after {
  background-position: -108px 5px;
}

.Full-Featured.active:after {
  background-position: -177px 5px;
}

.Umbrella.active:after {
  background-position: -244px 5px;
}

.All-Terrain.active:after {
  background-position: -311px 5px;
}

#drop-downs {
  margin: 0 0 0 5px;
  position: relative;
  width: 265px;
  height: 63px;
  float: left;
}

.drop-down {
  display: none;
}

.open {
  display: block;
}

.drop-down.open {
  position: absolute;
  z-index: 2;
  right: -10px;
  margin-top: 38px;
  border-radius: 8px;
  border: 1px solid #e4e4e3;
  width: 500px;
  background-color: #fff;
  padding: 10px;
}

.drop-down.open.bottom {
  margin-top: 60px;
}

.drop-down-title {
  background: #fff url(spritey-bits.png) no-repeat -83px -31px;
  float: left;
  cursor: pointer;
  width: 115px;
  padding: 4px 5px;
  font-weight: normal;
  border-radius: 8px;
  border: 1px solid #e4e4e3;
  margin-right: 5px;
  position: absolute;
}

.drop-down-title.bottom.open {
  padding-bottom: 11px;
  bottom: -1px;
}

.drop-down-title.open {
  background-position: -83px -65px;
  border-bottom: 0;
  padding-bottom: 19px;
  z-index: 3;
  border-radius: 8px 8px 0 0;
}

.drop-down-title.left {
  left: 0;
}

.drop-down-title.right {
  right: 0;
}

.drop-down-title.bottom {
  bottom: 5px;
}

.brand,
.trait, 
.weight {
  float: left;
  padding: 7px;
  margin-right: 15px;
}

#trait-list,
#weights-list {
  width: 40%;
  margin-right: 20px;
  float: left;
}

#weights-list {
  border-left: 1px dotted #d7d8d7;
  padding-left: 20px;
}

.close-button,
.close-button-breadcrumb {
  text-indent: -9999px;
  width: 20px;
  height: 14px;
  background: url(spritey-bits.png) no-repeat right -144px;
  float: right;
  cursor: pointer;
}

.close-button-breadcrumb {
  background: url(spritey-bits.png) no-repeat right -186px;
}

.listing {
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.breadcrumb-item {
  text-transform: capitalize;
  margin-left: 15px;
  float: left;
}

.breadcrumb-item.inactive {
  display: none;
}

.breadcrumb-item.active {
  display: inline;
}

.back-link {
  padding: 0 15px;
  background: url(spritey-bits.png) no-repeat 3px 4px;
  display: inline-block;
  float: left;
  height: auto;
  font-size: 1em;
  border-right: 1px dotted #d6d6d4;
}

.back-link.text-hide {
  text-indent: 0;
}

.slider {
  float: left;
  width: 75%;
}

.slider-holder {
  position: relative;
  width: 250px;
  height: 10px;
  float: left;
  margin: 0 10px;
}

.note {
  font-size: .8em;
  float: left;
  display: block;
}

.selected {
  border: 2px solid #ccc;
  padding: 5px 10px;
  border-radius: 8px 0 0 8px;
  margin-top: -6px;
  float: left;
  font-size: 1.2em;
}

#button-container {
  float: left;
  margin: 10px 0 0 5px;
}