body {
  margin: 0;
  padding: 0;
  font-family: Arial,Helvetica,sans-serif;
  background: url(bg-body.gif) repeat left top;
  font-size: 80%;
}

a {
  text-decoration: none;
  color: #444444;
}

.rounded {
  border: 1px solid #e4e4e3;
  border-radius: 12px;
}

.serif {
  font-family: Georgia, serif;
}

.content {
  background-color: #fff;
  width: 990px;
  margin: 0 auto;
}

.inner {
  background-color: #f8f7f3;
  margin-top: -4px;
  clear: both;
}

.good-stuff {
  background-color: #fff;
  border: 1px solid #c2c2c2;
  border-left: none;
  -webkit-border-radius: 0 8px 8px 0;
  border-radius: 0 8px 8px 0;
  float: left;
  padding: 5px 9px;
  margin-top: -4px;
}

.main {
  vertical-align: top;
}

h1 {
  font-size: 1.2em;
  margin: 10px 0 5px 0;
}

#menu {
  background: url(grey-diagonal-pattern.gif);
  overflow: hidden;
  padding: 0 5px;
}

.delete,
.category,
.brand,
.star,
.trait,
.weight {
  cursor: pointer;
  margin: 3px 0;
}

.category,
.brand,
.star,
.trait,
.weight {
  margin-bottom: 5px;
}

.category.active,
.brand.active,
.star.active,
.trait.active,
.weight.active {
  color: red;
}

.container {
  position: relative;
  margin-top: 30px;
}

.ui-slider-horizontal {
  background-color: #666;
  position: absolute;
  width: 200px;
  height: 30px;
}

.ui-slider-handle {
  border: 2px solid #000;
  position: absolute;
  z-index: 2;
  height: 36px;
  width: 5px;
}

#control-panel {
  background-image: -webkit-linear-gradient(#f9f8f5, #f3f4eb);
  padding: 10px 15px;
  float: left;
}

#counter {
  color: #7e1f3f;
  padding-right: 10px;
  border-right: 1px dotted #d6d6d4;
  margin-right: 10px;
  float: left;
  font-size: 1.7em;
  width: 40px;
  text-align: center;
}

#controls {
  float: left;
}

#go-button {
  display: inline-block;
  background-image: -webkit-linear-gradient(#7f102c, #6a0d25);
  color: #fff;
  padding: 3px 8px;
  font-weight: bold;
}

.arrow {
  background: url(spritey-bits.png) no-repeat right -10px;
  padding-right: 16px;
}

.clear {
  font-size: .8em;
  clear: left;
  text-align: center;
  display: block;
}

#amount {
  height: 30px;
}